.newsletter-form {
    position: relative;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    input {
        height: auto;
        box-shadow: none;
        background-color: transparent !important;
        text-transform: uppercase;
        color: $body-color;
        border: none;
        box-shadow: none !important;
        font-size: 16px;
        font-weight: 500;
        outline: 0;
        border-bottom: 1px solid;
        padding: 0 35px 18px 0;
        border-radius: 0;
        @include inputPlaceholder {
            color: $body-color;
        }
    }
    button {
        position: absolute;
        top: 3px;
        right: 0;
        font-size: 20px;
        color: $body-color;
        border: none;
        padding: 0;
        background-color: transparent;
        &:hover {
            color: $theme-color;
        }
    }
}